<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/bootstrap-datetimepicker.css" );
?>

<script src="/snep/includes/javascript/password.js"></script>
<script src="/snep/includes/javascript/moment-with-locales.min.js" type="text/javascript" ></script>
<script src="/snep/includes/javascript/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<div class="row">
    <form id="defaultForm" method="post" class="form-horizontal" action="<?php echo $this->url(array("module" => "snep-q-manager", "controller" => "operators", "action" => "addmult"), null, false); ?>" METHOD="post">

        <div class="form-group">
            <div class="alert alert-info col-sm-12" role="alert">
                <?php echo $this->translate("Os operadores são registrados conforme o range. Exemplo: Range inicial=1000 e Range final=1003, será cadastrado os operadores: 1000,1001,1002,1003."); ?><br>
                <label class="label-add"><?php echo $this->translate("Importante: ") ?></label><?php echo $this->translate(" As senhas por padrão serão duas vezes o código do operador. Exemplo: Operador=1002 e senha=10021002."); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->translate("Range do Operador");?></label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="codeInit" autocomplete='off' placeholder='<?php echo $this->translate("Range Inicial")?>' />
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="codeEnd" autocomplete='off' placeholder='<?php echo $this->translate("Range Final")?>' />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->translate("Habilitar Ramal Fixo");?></label>
            <div class="col-sm-3">
                <input type="checkbox" name="peer_fixed">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->translate("Login Hour");?></label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="start" id="start" placeholder='<?php echo $this->translate("Time of the beginning of the workday")?>' value="08:00"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->translate("Logoff Hour");?></label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="end" id="end" placeholder='<?php echo $this->translate("Time the end of the workday")?>' value="18:00"/>
            </div>
        </div>

        <table id="tableExpr" class="order-list table">
            <tbody>
                <tr>
                    <td class="text-right col-sm-2">
                        <label class="control-label"><?php echo $this->translate("Queue");?></label>
                    </td>
                    <td class="text-right control-label col-sm-2">
                        <select class="form-control" name="queuebox[]" required ?>">
                            <?php foreach($this->queues as $key => $queue){ ?>
                                <option value="<?php echo $queue['name'];?>"><?php echo $queue['name'];?></option>
                            <?php } ?>
                        </select>
                    </td>
                    <td class="text-right col-sm-1">
                        <label class="control-label"><?php echo $this->translate("Priority");?></label>
                    </td>
                    <td class="text-right control-label col-sm-1">
                        <select class="form-control" name="prioritybox[]" required ?>">
                            <?php for($i = 0;$i<5;$i++){ ?>
                                <option value="<?php echo $i;?>"><?php echo $i;?></option>
                            <?php } ?>
                        </select>
                    </td>
                    <td>
                        <button type="button" class="boxadd add_field"></button>
                        <button type="button" class="boxremove del_field" style="display: none;">
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="snep-body-footer-buttons">
            <button type="submit" class="btn btn-add" name="signup" value="Sign up"><?php echo $this->translate("Save");?></button>
            &nbsp;&nbsp;&nbsp;
        	<a class="btn btn-outline btn-add" href="javascript:window.history.go(-1)" role="button"><?php echo $this->translate("Cancel")?></a>
        </div>
    </form>
</div>

<script type="text/javascript">

jQuery.noConflict();

// Add lines
jQuery("table.order-list").on("click",".add_field", function(e){

    jQuery(".add_field").hide(); // Hide ADD buton
    jQuery(".del_field").show();

    // Mount new line
    var newRow = jQuery("<tr>");
    var cols = "";
    cols += '<td class="text-right col-sm-2">';
    cols += '<label class="control-label"><?php echo $this->translate("Queue");?></label></td>';
    cols += '<td class="text-right control-label col-sm-2">';
    cols += '<select class="form-control" name="queuebox[]" required ?>">';
    cols += '<?php foreach($this->queues as $key => $queue){ ?>';
    cols += '<option value="<?php echo $queue['name'];?>"><?php echo $queue['name'];?></option>';
    cols += '<?php } ?>';
    cols += '</select></td>';
    cols += '<td class="text-right col-sm-1">';
    cols += '<label class="control-label"><?php echo $this->translate("Priority");?></label></td>';
    cols += '<td class="text-right control-label col-sm-1">';
    cols += '<select class="form-control" name="prioritybox[]" required ?>">';
    cols += '<?php for($i = 0;$i<5;$i++){ ?>';
    cols += '<option value="<?php echo $i;?>"><?php echo $i;?></option>';
    cols += '<?php } ?>';
    cols += '</select></td>';
    cols += '<td><button type="button" class="boxadd add_field"></button>';
    cols += '<button type="button" class="boxremove del_field" /></button></td>';
    newRow.append(cols);
    jQuery("table.order-list").append(newRow);

});
// Remove lines
jQuery("table.order-list").on("click",".del_field", function(e){ //user click on remove text
    //e.preventDefault();
    jQuery(this).closest("tr").remove();
    jQuery('#tableExpr tr:last').find(".add_field").show();
    if (jQuery("#tableExpr tr").length == 1) {
        jQuery('#tableExpr tr:last').find(".del_field").hide();
    }

});

jQuery(function() {

    jQuery('#start,#end').datetimepicker({
        locale: "<?php echo $this->datepicker_locale; ?>",
        sideBySide: true,
        showClear: true,
        format: 'HH:mm',
        showClose: true
    });

    jQuery("#start").on("dp.change",function (e) {
        jQuery('#end').data("DateTimePicker").minDate(e.date);
    });

    jQuery("#end").on("dp.change",function (e) {
        jQuery('#start').data("DateTimePicker").maxDate(e.date);
    });

    jQuery('#password').password().on('show.bs.password', function(e) {

        jQuery('#methods').prop('checked', true);

        }).on('hide.bs.password', function(e) {
            jQuery('#methods').prop('checked', false);
        });
        jQuery('#methods').click(function() {
            jQuery('#password').password('toggle');
        });
    });

jQuery(document).ready(function(){
    jQuery('#defaultForm').validate({
        rules: {
            codeInit: {
                numbersOnly: true,
                required: true,
                minlength: 3,
                maxlength: 6
            },
            codeEnd: {
                numbersOnly: true,
                required: true,
                minlength: 3,
                maxlength: 6
            },
            start: {
                required: true
            },
            end: {
                required: true
            }
        },
        messages: {
            codeInit: {
                required: "<?php echo $this->translate('O código inicial é obrigatório'); ?>",
                minlength: "<?php echo $this->translate('Please enter at least {0} characters.'); ?>",
                maxlength: "<?php echo $this->translate('Please enter no more than {0} characters.'); ?>",
                numbersOnly: "<?php echo $this->translate('Numbers only please'); ?>"
            },
            codeEnd: {
                required: "<?php echo $this->translate('O código final é obrigatório'); ?>",
                minlength: "<?php echo $this->translate('Please enter at least {0} characters.'); ?>",
                maxlength: "<?php echo $this->translate('Please enter no more than {0} characters.'); ?>",
                numbersOnly: "<?php echo $this->translate('Numbers only please'); ?>"
            },
            start: {
                required: "<?php echo $this->translate('The initial journey is required'); ?>"
            },
            end: {
                required: "<?php echo $this->translate('The final journey is required'); ?>"
            }
        },
        highlight: function(element) {
            jQuery(element).closest('.control-group').removeClass('success').addClass('error');
        },
        success: function(element) {
            element
            .text('OK!').addClass('valid')
            .closest('.control-group').removeClass('error').addClass('success');
        }
    });
});

</script>
